# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
env/
.env/

# Node
node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Database
*.db

# Keys
*.pem
*.key
sshkey*

# Expo
.expo/

# Build outputs
build/
dist/

